extends layout

block content
  h1 Hello
  p Welcome to #{title}, load a picture
  span Load a picture
  input#img-link
  button#btn ok 
  span Erase everything: 
  button#erase-btn Erase All
  ul  
    li me 
    span#le-me
    li him 
    span#le-him
  #the-board
    canvas#red-pen
  script(src="https://cdn.socket.io/socket.io-1.4.5.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script(src="../javascripts/whiteboard.js")
  p Hello from the other side
