body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#the-board{
    background-color: #EEE;
    min-width: 70vw;
    min-height: 70vh;
}

#the-board canvas{
    position: absolute;
    z-index: 2;
}
#text {position: relative;
z-index: 0;}
